#backend-nav {
    background: #062c33;
}

#backend-header {
    color: #000000;
    background:  #D3D3D3;
}

#backend-main {

}

#site-controls {

}

.section-heading {
    background-color: #D3D3D3;
}